In [1]:
import pandas as pd
import geopandas as gpd

In [27]:
CURT=gpd.read_file(r"D:\Secretaría\Bases_shp_INEGI\CURT\024 Atlacomulco\ATLACOMULCO_PREDIOS.shp")
CURT

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-99.87493 19.79576, -99.87494 19.795..."
1,15,024,0000,0240109128000000,194737177109953100419,NaN,"POLYGON ((-99.88603 19.79363, -99.88612 19.793..."
2,15,024,0000,0240109116000000,194736032409953102406,NaN,"POLYGON ((-99.88603 19.79363, -99.88590 19.793..."
3,15,024,0000,0240142005000000,194824758809952102202,NaN,"POLYGON ((-99.86944 19.80691, -99.86948 19.806..."
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-99.87493 19.79576, -99.87485 19.795..."
...,...,...,...,...,...,...,...
1919,15,024,0000,0240122320000000,194719536809952058052,NaN,"POLYGON ((-99.86814 19.78877, -99.86809 19.788..."
1920,15,024,0000,0240122321000000,194720252909952063672,NaN,"POLYGON ((-99.86820 19.78889, -99.86814 19.788..."
1921,15,024,0000,0240122328000000,194720252909952058206,NaN,"POLYGON ((-99.86827 19.78906, -99.86820 19.788..."
1922,15,024,0000,0240122345000000,194720239609952072994,NaN,"POLYGON ((-99.86859 19.78904, -99.86872 19.788..."
1923,15,024,0000,0240122339000000,194721368609952064464,NaN,"POLYGON ((-99.86833 19.78924, -99.86830 19.789..."

In [22]:
casas_filtro=gpd.read_file(r"H:\.shortcut-targets-by-id\19j98C-PJkrk3gkgU7V03dLiJ4Gn-hnNe\geoshaps\Atlacomulco\Salidas\Atlacomulco_casas.shp")

In [23]:
casas_filtro["ID_casas"]=casas_filtro.index
casas_filtro

,clase_dete,conf,area,geometry,ID_casas
0,establecimiento,0.70136,511.425330,"POLYGON ((-11128880.49126 2257468.09239, -1112...",0
1,casas,0.82655,182.508647,"POLYGON ((-11128892.61083 2257473.46095, -1112...",1
2,establecimiento,0.55637,322.899914,"POLYGON ((-11128694.81898 2256336.11839, -1112...",2
3,establecimiento,0.55807,465.296771,"POLYGON ((-11128701.05797 2256325.98240, -1112...",3
4,establecimiento,0.65544,187.522621,"POLYGON ((-11128689.16548 2256344.33883, -1112...",4
...,...,...,...,...,...
58498,establecimiento,0.38781,1073.993192,"POLYGON ((-11100378.96465 2243765.86925, -1110...",58498
58499,terreno_baldio,0.53138,361.006115,"POLYGON ((-11099962.90156 2245884.15924, -1109...",58499
58500,establecimiento,0.62800,210.586900,"POLYGON ((-11099531.66920 2242100.27655, -1109...",58500
58501,establecimiento,0.24212,195.544979,"POLYGON ((-11099429.33170 2243560.90312, -1109...",58501
58502,establecimiento,0.27316,649.811007,"POLYGON ((-11099421.00813 2242075.40975, -1109...",58502

In [24]:
# CURT.geometry.value_counts()
casas_filtro.geometry.value_counts()

POLYGON ((-11128880.491 2257468.092, -11128851...    1
POLYGON ((-11128499.237 2255986.203, -11128484...    1
POLYGON ((-11128544.806 2255936.876, -11128526...    1
POLYGON ((-11128566.802 2256003.521, -11128549...    1
POLYGON ((-11128694.819 2256336.118, -11128672...    1
                                                    ..
POLYGON ((-11100366.060 2243777.073, -11100330...    1
POLYGON ((-11100378.965 2243765.869, -11100342...    1
POLYGON ((-11099962.902 2245884.159, -11099949...    1
POLYGON ((-11099531.669 2242100.277, -11099520...    1
POLYGON ((-11099421.008 2242075.410, -11099395...    1
Name: geometry, Length: 58503, dtype: int64

In [28]:
#Se revisa el CRS de cada base para poder hacer el cruce entre ellas
print("crs CURT: ",CURT.crs)
print("crs casas: ",casas_filtro.crs)

crs CURT:  EPSG:4326
crs casas:  LOCAL_CS["WGS 84 / Pseudo-Mercator",UNIT["Meter",1],AXIS["Easting",EAST],AXIS["Northing",NORTH]]

In [29]:
CURT=CURT.set_crs(6364,allow_override=True)
# CURT.geometry.head()
CURT=CURT.to_crs(3857)
CURT.geometry

0       POLYGON ((-11118026.626 2248851.074, -11118027...
1       POLYGON ((-11119261.940 2248599.490, -11119271...
2       POLYGON ((-11119261.940 2248599.490, -11119247...
3       POLYGON ((-11117414.936 2250171.302, -11117419...
4       POLYGON ((-11118026.626 2248851.074, -11118017...
                              ...
1919    POLYGON ((-11117270.073 2248025.083, -11117265...
1920    POLYGON ((-11117276.877 2248038.361, -11117270...
1921    POLYGON ((-11117284.711 2248059.038, -11117276...
1922    POLYGON ((-11117320.510 2248056.753, -11117335...
1923    POLYGON ((-11117291.290 2248079.719, -11117288...
Name: geometry, Length: 1924, dtype: geometry

In [30]:
casas_filtro=casas_filtro.set_crs(3857,allow_override=True)
# casas_filtro.crs
# # CURT.geometry.head()
# casas_filtro.to_crs(3857)
casas_filtro.geometry

0        POLYGON ((-11128880.491 2257468.092, -11128851...
1        POLYGON ((-11128892.611 2257473.461, -11128879...
2        POLYGON ((-11128694.819 2256336.118, -11128672...
3        POLYGON ((-11128701.058 2256325.982, -11128673...
4        POLYGON ((-11128689.165 2256344.339, -11128672...
                               ...
58498    POLYGON ((-11100378.965 2243765.869, -11100342...
58499    POLYGON ((-11099962.902 2245884.159, -11099949...
58500    POLYGON ((-11099531.669 2242100.277, -11099520...
58501    POLYGON ((-11099429.332 2243560.903, -11099415...
58502    POLYGON ((-11099421.008 2242075.410, -11099395...
Name: geometry, Length: 58503, dtype: geometry

In [31]:
CURT.shape, casas_filtro.shape

((1924, 7), (58503, 5))

In [32]:
cruce_curt=gpd.sjoin(CURT,casas_filtro)
cruce_curt

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry,index_right,clase_dete,conf,area,ID_casas
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32129,establecimiento,0.45533,361.006115,32129
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32129,establecimiento,0.45533,361.006115,32129
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32130,establecimiento,0.45707,140.391267,32130
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32130,establecimiento,0.45707,140.391267,32130
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32113,casas,0.54835,421.173801,32113
...,...,...,...,...,...,...,...,...,...,...,...,...
1914,15,024,0000,0240122353000000,194717742809952088863,NaN,"POLYGON ((-11117370.899 2247967.802, -11117376...",36637,establecimiento,0.50796,170.475110,36637
1915,15,024,0000,0240122354000000,194717538709952090542,NaN,"POLYGON ((-11117376.166 2247961.089, -11117381...",36637,establecimiento,0.50796,170.475110,36637
1914,15,024,0000,0240122353000000,194717742809952088863,NaN,"POLYGON ((-11117370.899 2247967.802, -11117376...",36643,establecimiento,0.29825,99.276682,36643
1915,15,024,0000,0240122354000000,194717538709952090542,NaN,"POLYGON ((-11117376.166 2247961.089, -11117381...",36643,establecimiento,0.29825,99.276682,36643
1916,15,024,0000,0240122355000000,194717440509952093971,NaN,"POLYGON ((-11117381.434 2247954.376, -11117386...",36643,establecimiento,0.29825,99.276682,36643

In [33]:
cruce_curt['CURT_si']=1
cruce_curt

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry,index_right,clase_dete,conf,area,ID_casas,CURT_si
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32129,establecimiento,0.45533,361.006115,32129,1
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32129,establecimiento,0.45533,361.006115,32129,1
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32130,establecimiento,0.45707,140.391267,32130,1
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32130,establecimiento,0.45707,140.391267,32130,1
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32113,casas,0.54835,421.173801,32113,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,15,024,0000,0240122353000000,194717742809952088863,NaN,"POLYGON ((-11117370.899 2247967.802, -11117376...",36637,establecimiento,0.50796,170.475110,36637,1
1915,15,024,0000,0240122354000000,194717538709952090542,NaN,"POLYGON ((-11117376.166 2247961.089, -11117381...",36637,establecimiento,0.50796,170.475110,36637,1
1914,15,024,0000,0240122353000000,194717742809952088863,NaN,"POLYGON ((-11117370.899 2247967.802, -11117376...",36643,establecimiento,0.29825,99.276682,36643,1
1915,15,024,0000,0240122354000000,194717538709952090542,NaN,"POLYGON ((-11117376.166 2247961.089, -11117381...",36643,establecimiento,0.29825,99.276682,36643,1
1916,15,024,0000,0240122355000000,194717440509952093971,NaN,"POLYGON ((-11117381.434 2247954.376, -11117386...",36643,establecimiento,0.29825,99.276682,36643,1

In [34]:
cruce_curt.geometry.unique()

<GeometryArray>
[<POLYGON ((-11118026.626 2248851.074, -11118027.811 2248847.925, -11118039.2...>,
 <POLYGON ((-11118026.626 2248851.074, -11118017.083 2248848.289, -11118019.7...>,
 <POLYGON ((-11119261.94 2248599.49, -11119271.573 2248591.083, -11119282.706...>,
 <POLYGON ((-11119261.94 2248599.49, -11119247.839 2248579.669, -11119280.365...>,
 <POLYGON ((-11117414.936 2250171.302, -11117419.935 2250158.495, -11117429.9...>,
 <POLYGON ((-11117419.935 2250158.495, -11117409.914 2250154.495, -11117412.7...>,
 <POLYGON ((-11117409.914 2250154.495, -11117419.935 2250158.495, -11117414.9...>,
 <POLYGON ((-11117412.739 2250147.318, -11117416.378 2250138.074, -11117429.2...>,
 <POLYGON ((-11105996.084 2248177.528, -11105990.776 2248177.298, -11105975.9...>,
 <POLYGON ((-11106002.885 2248164.983, -11105976.342 2248163.832, -11105976.9...>,
 ...
 <POLYGON ((-11112925.665 2250705.908, -11112929.085 2250714.837, -11112940.2...>,
 <POLYGON ((-11112925.665 2250705.908, -11112936.591 2250701.722, -11112940.2...>,
 <POLYGON ((-11119348.131 2249701.535, -11119362.591 2249693.376, -11119363.9...>,
 <POLYGON ((-11119348.131 2249701.535, -11119353.693 2249707.068, -11119356.5...>,
 <POLYGON ((-11117116.212 2250386.925, -11117121.493 2250377.646, -11117141.3...>,
 <POLYGON ((-11117292.696 2250514.414, -11117299.765 2250480.239, -11117323.2...>,
 <POLYGON ((-11117292.696 2250514.414, -11117341.466 2250542.874, -11117314.1...>,
 <POLYGON ((-11116091.608 2250639.895, -11116116.021 2250638.626, -11116117.2...>,
 <POLYGON ((-11116090.129 2250610.38, -11116091.608 2250639.895, -11116066.91...>,
 <POLYGON ((-11115184.555 2247934.957, -11115187.07 2247937.714, -11115186.83...>]
Length: 1719, dtype: geometry

In [35]:
no_cruzanxcurt=CURT[~(CURT.geometry.isin(cruce_curt['geometry']))]
no_cruzanxcurt

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry
5,15,024,0000,0240602413000000,195117681409955222284,NaN,"POLYGON ((-11123301.554 2255869.972, -11123312..."
10,15,024,0000,0241102980000000,194714662109946182809,NaN,"POLYGON ((-11106517.757 2247856.374, -11106558..."
11,15,024,0000,0241102978000000,194714818709946169924,NaN,"POLYGON ((-11106479.806 2247861.221, -11106517..."
96,15,024,0000,0241511115000000,194835629609949381160,NaN,"POLYGON ((-11112815.419 2250567.527, -11112691..."
131,15,024,0000,0240133250000000,194730367509951498405,NaN,"POLYGON ((-11116805.106 2248387.083, -11116798..."
...,...,...,...,...,...,...,...
1899,15,024,0000,0240147021000000,194840887209951271542,NaN,"POLYGON ((-11116081.256 2250713.011, -11116080..."
1901,15,024,0000,0240147022000000,194842015309951287433,NaN,"POLYGON ((-11116133.716 2250715.645, -11116144..."
1903,15,024,0000,0240147024000000,194842107009951266702,NaN,"POLYGON ((-11116069.050 2250713.645, -11116081..."
1904,15,024,0000,0240147006000000,194840706309951248676,NaN,"POLYGON ((-11115973.256 2250680.501, -11116000..."
1905,15,024,0000,0240151675000000,194841199809953382488,NaN,"POLYGON ((-11120133.986 2250713.073, -11120146..."

In [36]:
no_cruzanxcurt['CURT_si']=0
no_cruzanxcurt

c:\Users\mfpen\anaconda3\envs\YOLO\lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry,CURT_si
5,15,024,0000,0240602413000000,195117681409955222284,NaN,"POLYGON ((-11123301.554 2255869.972, -11123312...",0
10,15,024,0000,0241102980000000,194714662109946182809,NaN,"POLYGON ((-11106517.757 2247856.374, -11106558...",0
11,15,024,0000,0241102978000000,194714818709946169924,NaN,"POLYGON ((-11106479.806 2247861.221, -11106517...",0
96,15,024,0000,0241511115000000,194835629609949381160,NaN,"POLYGON ((-11112815.419 2250567.527, -11112691...",0
131,15,024,0000,0240133250000000,194730367509951498405,NaN,"POLYGON ((-11116805.106 2248387.083, -11116798...",0
...,...,...,...,...,...,...,...,...
1899,15,024,0000,0240147021000000,194840887209951271542,NaN,"POLYGON ((-11116081.256 2250713.011, -11116080...",0
1901,15,024,0000,0240147022000000,194842015309951287433,NaN,"POLYGON ((-11116133.716 2250715.645, -11116144...",0
1903,15,024,0000,0240147024000000,194842107009951266702,NaN,"POLYGON ((-11116069.050 2250713.645, -11116081...",0
1904,15,024,0000,0240147006000000,194840706309951248676,NaN,"POLYGON ((-11115973.256 2250680.501, -11116000...",0
1905,15,024,0000,0240151675000000,194841199809953382488,NaN,"POLYGON ((-11120133.986 2250713.073, -11120146...",0

In [37]:
cruce_curt.shape, no_cruzanxcurt.shape

((6089, 13), (205, 8))

In [38]:
cruce_final_curt=pd.concat([cruce_curt,no_cruzanxcurt])
cruce_final_curt

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry,index_right,clase_dete,conf,area,ID_casas,CURT_si
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32129.0,establecimiento,0.45533,361.006115,32129.0,1
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32129.0,establecimiento,0.45533,361.006115,32129.0,1
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32130.0,establecimiento,0.45707,140.391267,32130.0,1
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32130.0,establecimiento,0.45707,140.391267,32130.0,1
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32113.0,casas,0.54835,421.173801,32113.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,15,024,0000,0240147021000000,194840887209951271542,NaN,"POLYGON ((-11116081.256 2250713.011, -11116080...",NaN,NaN,NaN,NaN,NaN,0
1901,15,024,0000,0240147022000000,194842015309951287433,NaN,"POLYGON ((-11116133.716 2250715.645, -11116144...",NaN,NaN,NaN,NaN,NaN,0
1903,15,024,0000,0240147024000000,194842107009951266702,NaN,"POLYGON ((-11116069.050 2250713.645, -11116081...",NaN,NaN,NaN,NaN,NaN,0
1904,15,024,0000,0240147006000000,194840706309951248676,NaN,"POLYGON ((-11115973.256 2250680.501, -11116000...",NaN,NaN,NaN,NaN,NaN,0
1905,15,024,0000,0240151675000000,194841199809953382488,NaN,"POLYGON ((-11120133.986 2250713.073, -11120146...",NaN,NaN,NaN,NaN,NaN,0

In [39]:
#Para detectar duplicados x geometría
geo_dupli=cruce_final_curt.geometry.value_counts()[cruce_final_curt.geometry.value_counts()>1].index
cruce_final_curt.loc[cruce_final_curt.geometry.isin(geo_dupli),"dupGEO"]=1
cruce_final_curt.loc[cruce_final_curt.dupGEO != 1, "dupGEO"]=0
cruce_final_curt

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry,index_right,clase_dete,conf,area,ID_casas,CURT_si,dupGEO
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32129.0,establecimiento,0.45533,361.006115,32129.0,1,1.0
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32129.0,establecimiento,0.45533,361.006115,32129.0,1,1.0
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32130.0,establecimiento,0.45707,140.391267,32130.0,1,1.0
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32130.0,establecimiento,0.45707,140.391267,32130.0,1,1.0
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32113.0,casas,0.54835,421.173801,32113.0,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,15,024,0000,0240147021000000,194840887209951271542,NaN,"POLYGON ((-11116081.256 2250713.011, -11116080...",NaN,NaN,NaN,NaN,NaN,0,0.0
1901,15,024,0000,0240147022000000,194842015309951287433,NaN,"POLYGON ((-11116133.716 2250715.645, -11116144...",NaN,NaN,NaN,NaN,NaN,0,0.0
1903,15,024,0000,0240147024000000,194842107009951266702,NaN,"POLYGON ((-11116069.050 2250713.645, -11116081...",NaN,NaN,NaN,NaN,NaN,0,0.0
1904,15,024,0000,0240147006000000,194840706309951248676,NaN,"POLYGON ((-11115973.256 2250680.501, -11116000...",NaN,NaN,NaN,NaN,NaN,0,0.0
1905,15,024,0000,0240151675000000,194841199809953382488,NaN,"POLYGON ((-11120133.986 2250713.073, -11120146...",NaN,NaN,NaN,NaN,NaN,0,0.0

In [40]:
#Para detectar duplicados x curt
curt_dupli=cruce_final_curt.curt.value_counts()[cruce_final_curt.curt.value_counts()>1].index
cruce_final_curt.loc[cruce_final_curt.curt.isin(curt_dupli),"dupCURT"]=1
cruce_final_curt.loc[cruce_final_curt.dupCURT != 1, "dupCURT"]=0
cruce_final_curt

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry,index_right,clase_dete,conf,area,ID_casas,CURT_si,dupGEO,dupCURT
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32129.0,establecimiento,0.45533,361.006115,32129.0,1,1.0,1.0
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32129.0,establecimiento,0.45533,361.006115,32129.0,1,1.0,1.0
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32130.0,establecimiento,0.45707,140.391267,32130.0,1,1.0,1.0
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32130.0,establecimiento,0.45707,140.391267,32130.0,1,1.0,1.0
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32113.0,casas,0.54835,421.173801,32113.0,1,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,15,024,0000,0240147021000000,194840887209951271542,NaN,"POLYGON ((-11116081.256 2250713.011, -11116080...",NaN,NaN,NaN,NaN,NaN,0,0.0,0.0
1901,15,024,0000,0240147022000000,194842015309951287433,NaN,"POLYGON ((-11116133.716 2250715.645, -11116144...",NaN,NaN,NaN,NaN,NaN,0,0.0,0.0
1903,15,024,0000,0240147024000000,194842107009951266702,NaN,"POLYGON ((-11116069.050 2250713.645, -11116081...",NaN,NaN,NaN,NaN,NaN,0,0.0,0.0
1904,15,024,0000,0240147006000000,194840706309951248676,NaN,"POLYGON ((-11115973.256 2250680.501, -11116000...",NaN,NaN,NaN,NaN,NaN,0,0.0,0.0
1905,15,024,0000,0240151675000000,194841199809953382488,NaN,"POLYGON ((-11120133.986 2250713.073, -11120146...",NaN,NaN,NaN,NaN,NaN,0,0.0,0.0

In [42]:
casas_nocruzan = casas_filtro[~casas_filtro.ID_casas.isin(cruce_curt.ID_casas.unique())]
casas_nocruzan['YOLO_si'] = 0
casas_nocruzan.tail(2)

c:\Users\mfpen\anaconda3\envs\YOLO\lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

,clase_dete,conf,area,geometry,ID_casas,YOLO_si
58501,establecimiento,0.24212,195.544979,"POLYGON ((-11099429.332 2243560.903, -11099415...",58501,0
58502,establecimiento,0.27316,649.811007,"POLYGON ((-11099421.008 2242075.410, -11099395...",58502,0

In [44]:
cruce_final_curt.shape, casas_nocruzan.shape

((6294, 15), (54633, 6))

In [50]:
cruce_final =pd.concat([cruce_final_curt,casas_nocruzan])
cruce_final

,cve_ent,cve_mun,cve_loc,id_cat,curt,notas,geometry,index_right,clase_dete,conf,area,ID_casas,CURT_si,dupGEO,dupCURT,YOLO_si
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32129.0,establecimiento,0.45533,361.006115,32129.0,1.0,1.0,1.0,NaN
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32129.0,establecimiento,0.45533,361.006115,32129.0,1.0,1.0,1.0,NaN
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32130.0,establecimiento,0.45707,140.391267,32130.0,1.0,1.0,1.0,NaN
4,15,024,0000,0240144837000000,194744232409952299340,NaN,"POLYGON ((-11118026.626 2248851.074, -11118017...",32130.0,establecimiento,0.45707,140.391267,32130.0,1.0,1.0,1.0,NaN
0,15,024,0000,0240144801000000,194744919109952299131,NaN,"POLYGON ((-11118026.626 2248851.074, -11118027...",32113.0,casas,0.54835,421.173801,32113.0,1.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58498,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-11100378.965 2243765.869, -11100342...",NaN,establecimiento,0.38781,1073.993192,58498.0,NaN,NaN,NaN,0.0
58499,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-11099962.902 2245884.159, -11099949...",NaN,terreno_baldio,0.53138,361.006115,58499.0,NaN,NaN,NaN,0.0
58500,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-11099531.669 2242100.277, -11099520...",NaN,establecimiento,0.62800,210.586900,58500.0,NaN,NaN,NaN,0.0
58501,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-11099429.332 2243560.903, -11099415...",NaN,establecimiento,0.24212,195.544979,58501.0,NaN,NaN,NaN,0.0
58502,NaN,NaN,NaN,NaN,NaN,NaN,"POLYGON ((-11099421.008 2242075.410, -11099395...",NaN,establecimiento,0.27316,649.811007,58502.0,NaN,NaN,NaN,0.0

In [52]:
cruce_final.loc[cruce_final.YOLO_si.isna(),"YOLO_si"]=1

In [54]:
cruce_final.to_file(r"D:\Secretaría\cruces_bases\limpiezas_shp_base\Atlacomulco\Curtxdetect/curtxcasas_Atlacomulco.shp")

C:\Users\mfpen\AppData\Local\Temp\ipykernel_6636\117603595.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  cruce_final.to_file(r"D:\Secretaría\cruces_bases\limpiezas_shp_base\Atlacomulco\Curtxdetect/curtxcasas_Atlacomulco.shp")