In [1]:
import geopandas as gpd
import numpy as np

c:\Users\mfpen\anaconda3\envs\YOLO\lib\site-packages\geopandas\_compat.py:123: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
C:\Users\mfpen\AppData\Local\Temp\ipykernel_18216\3828399833.py:1: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [45]:
path_casas = '/home/hector/Descargas/temporal/Ixtapan_casasbase_final_ads_pred_Z_12_06_23/Ixtapan_casasbase_final_ads_pred_Z.shp'

casas = gpd.read_file(path_casas)

In [48]:
cc1 = casas.copy()

In [86]:
casas = cc1.copy()

In [ ]:
for col in casas:
    if col == 'Z':
        print('Omitio Z')
        continue
    casas.loc[casas[col]=='3', col] = np.nan

In [4]:
import pandas as pd 
from tabulate import tabulate

def view_cols(df_init:pd.DataFrame):
    '''
    (Function)
        Esta función es para visualizar las columnas de un DataFrame.
    (Parameters)
        - df_init: DataFrame del que se desean obtener las columnas.
    (Returns)
        - No retorna nada, solo hace un print al final de la función.
    '''
    columnas=df_init.columns
    type(columnas)
    columnas=columnas.str.split(',')
    #Muestra de las columnas que tiene la base
    print('\nTotal de Columnas = ',len(columnas))
    print('Las columnas en la base son las siguientes: \n')
    print(tabulate(columnas,tablefmt='fancy_grid',stralign='center'))
    return 
def columns_name_change(df_column_change:pd.DataFrame):
    '''
    (Function)
        Esta función es para cambiar el nombre de columnas de un DataFrame
    (Parameters)
        - df_column_change: DataFrame que se desea procesar para el cambio de columnas    
    (Returns)
        Retorna el df_column_change, que ingresó inicialmente con las correcciones pertinentes.
    '''
    showCols=int(input("Deseas ver las columnas de la base?; 0 = Si ; 1 = NO"))
    if showCols == 0:
        cols=view_cols(df_column_change)
        cols
        
    elif showCols == 1:
        pass

    recol = int(input("Que desea hacer?: \n0.- Cambiar nombre. \n1.- Borrar columnas. \n2.- Otro"))
    if recol == 0:
        print('--- Cambiando columnas ---')
        name_col = (input("Ingresa el nombre de la Columna que quieres cambiar: "))
        new_name_col = (input("Ingresa el nuevo nombre de la Columna: "))

        while name_col not in df_column_change.columns:
            print('OTRO NOMBRE')
            name_col = (input("Vuelve a ingresar el nombre de la Columna que quieres cambiar, ese no existe: "))       
        print(f'la columna a cambiar es:  {name_col}')
        print(f'El nuevo nombre de la columna a cambiar es:  {new_name_col}')
        df_column_change.rename(columns={name_col:new_name_col}, inplace=True)
        recol1=int(input("Deseas cambiar otra columna? 0 = si ; 1 = NO"))
        while recol1 == 0:
            print('--- Cambiando columnas ---')
            name_col = (input("Ingresa el nombre de la Columna que quieres cambiar: "))
            new_name_col = (input("Ingresa el nuevo nombre de la Columna: "))

            while name_col not in df_column_change.columns:
                print('OTRO NOMBRE')
                name_col = (input("Vuelve a ingresar el nombre de la Columna que quieres cambiar, ese no existe: "))       
            print(f'la columna a cambiar es:  {name_col}')
            print(f'El nuevo nombre de la columna a cambiar es:  {new_name_col}')
            df_column_change.rename(columns={name_col:new_name_col}, inplace=True)
            recol1=int(input("Deseas cambiar otra columna? 0 = si ; 1 = NO"))
            
    elif recol == 1:
        print('Vamooo a borrar columnas.')
        name_col = (input("Ingresa el nombre de la Columna que quieres dropear: "))
        
        while name_col not in df_column_change.columns:
            print('Escrbio mal el nombre')
            name_col = (input("Vuelve a ingresar el nombre de la Columna que quieres cambiar, ese no existe: "))
        
        # Borramos la columna
        df_column_change.drop(columns=name_col, inplace=True)
        
        # Preguntamos sobre otra col
        recol1=int(input("Deseas dropear otra columna? 1 = si ; 0 = NO"))
        
        while bool(recol1):
            
    
    elif recol == 2:
        print("No deseaste cambiar cols, Hasta Luego!")
        pass


    return df_column_change

In [138]:
# Ver columnas
view_cols(casas)

Total de Columnas =  101
Las columnas en la base son las siguientes:

╒════════════╕
│  ID_casas  │
├────────────┤
│ clase_dete │
├────────────┤
│   Clase    │
├────────────┤
│   puntos   │
├────────────┤
│ zona_left  │
├────────────┤
│ area_left  │
├────────────┤
│ rectangulo │
├────────────┤
│   ID_ind   │
├────────────┤
│ cve_ent_le │
├────────────┤
│ cve_mun_le │
├────────────┤
│ cve_loc_le │
├────────────┤
│ proceso_le │
├────────────┤
│ notas_left │
├────────────┤
│  ID_curt   │
├────────────┤
│    conf    │
├────────────┤
│ area_right │
├────────────┤
│   status   │
├────────────┤
│  CURT_si   │
├────────────┤
│   dupGEO   │
├────────────┤
│  dupCURT   │
├────────────┤
│  YOLO_si   │
├────────────┤
│   Ind_si   │
├────────────┤
│    area    │
├────────────┤
│ Induxcasa  │
├────────────┤
│  ID_chin   │
├────────────┤
│ tipoCenCom │
├────────────┤
│ tipo_asent │
├────────────┤
│ nombre_act │
├────────────┤
│    clee    │
├────────────┤
│  ID_denue  │
├────────────┤
│   ID_15m   │
├────────────┤
│   CVEGEO   │
├────────────┤
│ DIRECCION  │
├────────────┤
│ VALORTERRE │
├────────────┤
│ VALORTER_1 │
├────────────┤
│ VALORCONST │
├────────────┤
│ SUPERFICIE │
├────────────┤
│ SUPERFIC_1 │
├────────────┤
│ SUPERFIC_2 │
├────────────┤
│ FECHAALTA  │
├────────────┤
│   NOMBRE   │
├────────────┤
│  APATERNO  │
├────────────┤
│  AMATERNO  │
├────────────┤
│   CALLE    │
├────────────┤
│ CLAVESTATU │
├────────────┤
│ CLAVEASENT │
├────────────┤
│   EMAIL    │
├────────────┤
│    CURP    │
├────────────┤
│ EJERCICIO  │
├────────────┤
│ VALORCATAS │
├────────────┤
│  STATUS_1  │
├────────────┤
│ DOMICILIO  │
├────────────┤
│ NOMBRE DEL │
├────────────┤
│    RFC     │
├────────────┤
│ ESTATUS DE │
├────────────┤
│ VALOR CATA │
├────────────┤
│ SUPERFIC_3 │
├────────────┤
│ USO DE ARE │
├────────────┤
│ PERIODO DE │
├────────────┤
│ PERIODO _1 │
├────────────┤
│ EJERCICI_1 │
├────────────┤
│ CLAVE_MANZ │
├────────────┤
│ CLAVE_PRED │
├────────────┤
│ cve_ent_ri │
├────────────┤
│ cve_mun_ri │
├────────────┤
│ cve_loc_ri │
├────────────┤
│ proceso_ri │
├────────────┤
│    mun     │
├────────────┤
│ zona_right │
├────────────┤
│    manz    │
├────────────┤
│  LATITUD   │
├────────────┤
│  LONGITUD  │
├────────────┤
│ ID_predial │
├────────────┤
│ CLAVECATAS │
├────────────┤
│  ESTIMADO  │
├────────────┤
│   CAT_1    │
├────────────┤
│ VALORTER_2 │
├────────────┤
│ VALORTER_3 │
├────────────┤
│ VALORCON_1 │
├────────────┤
│ SUPERFIC_4 │
├────────────┤
│ SUPERFIC_5 │
├────────────┤
│ VALORCAT_1 │
├────────────┤
│ NOMBRE D_1 │
├────────────┤
│ VALOR CA_1 │
├────────────┤
│ SUPERFIC_6 │
├────────────┤
│ USO DE A_1 │
├────────────┤
│ PERIODO _2 │
├────────────┤
│ PERIODO _3 │
├────────────┤
│ EJERCICI_2 │
├────────────┤
│ CLAVE_PR_1 │
├────────────┤
│ CLAVECAT_1 │
├────────────┤
│  cve_ent   │
├────────────┤
│  cve_mun   │
├────────────┤
│  cve_loc   │
├────────────┤
│  proceso   │
├────────────┤
│   notas    │
├────────────┤
│    zona    │
├────────────┤
│     Z      │
├────────────┤
│  geometry  │
├────────────┤
│    curt    │
├────────────┤
│   CVECAT   │
╘════════════╛

In [ ]:
# Cambiar nombre columnas
columns_name_change(casas)

In [133]:
if  None:
    print('a')

In [134]:
def combine_cols(casas:gpd.GeoDataFrame, col_left, col_right, priority=None, new_col=None):
    
    # Revisamos que tengan el _ para no generar errores el nombre de las columnas
    if not col_right.find('_')>0:
        col_right1 = col_right+'_right'
        casas[col_right1] = casas[col_right]
        col_right = col_right1
    
    if not col_left.find('_')>0:
        col_left1 = col_left + '_left'
        casas[col_left1] = casas[col_left]
        col_left = col_left1
        
    if new_col == None:
        # El nombre de la columna nueva en caso de no definirla sera:
        if len(col_left.lower().split('_')) >2:
            new_nombre = '_'.join(col_left.lower().split('_')[0:-1])
        else:
            new_nombre = col_left.lower().split('_')[0]
    else:
        # El nombre de la nueva columnas ya esta definido
        new_nombre = new_col
    
    # Definimos la prioridad sobre el cual se hara el combine first
    
    ## La prioridad es tener la menor cantidad de Nans
    if priority == None:
        if casas[col_right].combine_first( casas[col_left]).fillna(0).value_counts()[0] >= casas[col_left].combine_first( casas[col_right]).fillna(0).value_counts()[0]:
            casas[new_nombre] = casas[col_left].combine_first( casas[col_right])
        else:
            casas[new_nombre] = casas[col_right].combine_first( casas[col_left])
    
    ## La prioridad es la columna left
    elif priority.lower() == 'left':
        casas[new_nombre] = casas[col_left].combine_first( casas[col_right])
    
    ## La prioridad es la columna right
    elif priority.lower() == 'right':
        casas[new_nombre] = casas[col_right].combine_first( casas[col_left])
        
    # Borramos las columnas left y right
    casas.drop([col_left, col_right],axis=1,inplace=True)
    return casas

In [59]:
casas.loc[casas['curt_left']=='3', 'curt_left'] = np.nan
casas.loc[casas['curt_right']=='3', 'curt_right'] = np.nan
casas.loc[casas['curt_2']=='3', 'curt_2'] = np.nan
casas.loc[casas['CURT_f']=='3', 'CURT_f'] = np.nan

In [88]:
col_left = 'curt_left'
col_right = 'curt_right'
casas = combine_cols(casas, col_left, col_right)

In [89]:
col_left = 'curt_2'  
col_right = 'curt'   
casas = combine_cols(casas, col_left, col_right)

In [90]:
col_left = 'CURT_f'  
col_right = 'curt'   
casas = combine_cols(casas, col_left, col_right, priority='right')

In [ ]:
col_left = 'id_cat_rig'  
col_right = 'id_cat_lef'   
casas = combine_cols(casas, col_left, col_right, priority=None)

In [136]:
col_left = 'id_cat'  # 'id_cat', cve_cat,
col_right = 'cve_cat'   
casas = combine_cols(casas, col_left, col_right, priority=None,new_col='CVECAT')

In [139]:
col_left = 'CLAVECATAS'   # 'CLAVECATAS',CLAVECAT_1
col_right = 'CLAVECAT_1'   
casas = combine_cols(casas, col_left, col_right, priority=None,new_col='CVECAT_Cut')

In [179]:
# Revisamos la clave del municipio y se la pegamos  a la columna elgida
# Codigo de revision: casas['cve_mun'].fillna(0).value_counts()
cve_mun = '060'
if input(f'Estas seguro que la clave del mun es: {cve_mun}').lower() in ['1','si']:
    casas['cve_mun'] = cve_mun

In [184]:
# ponemos el area
casas['Area'] = casas.geometry.area

In [112]:
cols_to_drop=['CVE_ENT_1','CVE_MUN_1','CVE_LOC_1','CVE_AGEB','CVE_MZA','AMBITO','TIPOMZA','index_righ',
              'CLAVE_CATA','CLAVEMANZA','CLAVEZONA','index_ri_1','CLAVEMUN_1','CLAVEENT_1','CLAVEANTER','CLAVESTA_1','CLAVEASE_1',
              'CLAVEPER_2','CLAVEPER_3','ESTATUS _1','CURT_1','CURT','CLAVEPERIO','CLAVEPER_1','notas_righ','Medida_lx','Medida_ly','Max_xy','Min_xy','f_lado','f_area','CLAVECP',
              'CLAVEMUNIC','CLAVEENTID','CLAVE_CA_1','CLAVEMAN_1','zona_left','area_left','area_right','cve_ent_le','cve_ent','cve_ent_ri','manz','cve_loc_le','cve_loc_ri',
              'notas_left','status','zona_right','proceso_le' ,'proceso_ri','CLAVE_PR_1','CLAVE_PRED','cve_mun_ri','cve_mun_le']
print(casas.shape)
casas.drop(columns=cols_to_drop, inplace=True)
casas.shape

In [159]:
for col in casas:
    if col.lower().find('manz') >= 0:
        print(col)

CLAVE_MANZ
manz

In [178]:
casas['cve_mun'].fillna(0).value_counts()

cve_mun
0      31663
060     7754
600        9
Name: count, dtype: int64

In [177]:
casas['cve_mun'].map(lambda x: len(str(x))).value_counts()

cve_mun
3    39426
Name: count, dtype: int64

#Limpieza de base Z

In [17]:
Mun_z = r"H:\.shortcut-targets-by-id\19j98C-PJkrk3gkgU7V03dLiJ4Gn-hnNe\geoshaps\Atlacomulco\Elevacion_Atlacomulco\Salidas\Atlacomulco_casas_cruces_todos_Z.shp"

In [18]:
base_z=gpd.read_file(Mun_z)
base_z

,ID_casas,clase_dete,Clase,id_cat,curt,CURT_f,puntos,zona,area_left,rectangulo,...,CVEGEO,CVE_ENT_1,CVE_MUN_1,CVE_LOC_1,CVE_AGEB,CVE_MZA,AMBITO,TIPOMZA,Z,geometry
0,40669.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453695049951349593,307.0,02,1040.554719,1837.846646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331..."
1,40662.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453994009951335305,307.0,02,1040.554719,1837.846646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331..."
2,40668.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453684639951342368,307.0,02,1040.554719,1837.846646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331..."
3,40665.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453745999951341696,307.0,02,1040.554719,1837.846646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331..."
4,40820.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453741119951319731,307.0,02,1040.554719,1837.846646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55981,58496.0,casas,NaN,NaN,NaN,19452424219943078647,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.482177,"POLYGON ((-11100674.760 2244227.950, -11100643..."
55982,58499.0,terreno_baldio,NaN,NaN,NaN,19461399749942455637,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.063004,"POLYGON ((-11099977.250 2245867.522, -11099959..."
55983,58500.0,casas,NaN,NaN,NaN,19441895799942316247,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.785855,"POLYGON ((-11099543.480 2242089.029, -11099532..."
55984,58501.0,casas,NaN,NaN,NaN,19450350719942281620,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.953975,"POLYGON ((-11099434.893 2243549.859, -11099430..."
55985,58502.0,casas,NaN,NaN,NaN,19441838869942275749,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.910082,"POLYGON ((-11099425.118 2242077.771, -11099392..."

In [28]:
import sys
sys.path.append(r'C:\Users\mfpen\Documents\Repositorios\geoloc2\preparacion_datos')
from funciones_cruces_limpieza import clean_base_z

In [29]:
base=clean_base_z(base_fin)
base

,ID_casas,clase_dete,Clase,id_cat,curt,CURT_f,ID_ind,ID_curt,CURT_si,dupGEO,dupCURT,YOLO_si,Ind_si,Induxcasa,ID_chin,ID_denue,ID_15m,Z,geometry,area
0,40669.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453695049951349593,1721.0,40669.0,1.0,1.0,1.0,1.0,1.0,NaN,2849.0,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331...",1837.846646
1,40662.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453994009951335305,1721.0,40662.0,1.0,1.0,1.0,1.0,1.0,NaN,2849.0,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331...",1837.846646
2,40668.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453684639951342368,1721.0,40668.0,1.0,1.0,1.0,1.0,1.0,NaN,2849.0,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331...",1837.846646
3,40665.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453745999951341696,1721.0,40665.0,1.0,1.0,1.0,1.0,1.0,NaN,2849.0,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331...",1837.846646
4,40820.0,establecimiento,establecimientos_google,0240204618000000,194538144009951355832,19453741119951319731,1721.0,40820.0,1.0,1.0,1.0,1.0,1.0,NaN,2849.0,NaN,NaN,1.957439,"POLYGON ((-11116340.629 2244646.359, -11116331...",1837.846646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55981,58496.0,casas,NaN,NaN,NaN,19452424219943078647,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,4.482177,"POLYGON ((-11100674.760 2244227.950, -11100643...",934.654808
55982,58499.0,terreno_baldio,NaN,NaN,NaN,19461399749942455637,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,39.063004,"POLYGON ((-11099977.250 2245867.522, -11099959...",438.500537
55983,58500.0,casas,NaN,NaN,NaN,19441895799942316247,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,3.785855,"POLYGON ((-11099543.480 2242089.029, -11099532...",306.435855
55984,58501.0,casas,NaN,NaN,NaN,19450350719942281620,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,1.953975,"POLYGON ((-11099434.893 2243549.859, -11099430...",255.456982
55985,58502.0,casas,NaN,NaN,NaN,19441838869942275749,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,7.910082,"POLYGON ((-11099425.118 2242077.771, -11099392...",780.771547

In [25]:
base.to_file(r'H:\.shortcut-targets-by-id\19j98C-PJkrk3gkgU7V03dLiJ4Gn-hnNe\geoshaps\Atlacomulco\Elevacion_Atlacomulco\Salidas/Atlacomulco_casas_Z.shp')